<div style="background-color: darkblue;">
  <div class="container text-center" style="color: white; padding-top: 30px;">
    <h1><strong>SPM - Salesforce Package Manager -</strong></h1>
    <div style="margin: 50px 300px;">
      <%= form_tag search_path, method: :get do |f| %>
        <div class="input-group">
          <%= text_field_tag :q, nil, class: 'form-control input-lg', placeholder: 'Search Salesforce Packages' %>
          <span class="input-group-btn">
            <button class="btn btn-default btn-lg" type="submit">
              <i class='glyphicon glyphicon-search'></i>
            </button>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container contents">
  <div style="margin-top: 30px">
    <div class="description">
      <h2><strong>Install</strong></h2>
      <div class="description-detail">
        <p>For Linux or macOS user</p>
        <pre><code class="lang-shell">$ curl -sL http://install.freedom-man.com/spm | bash</code></pre>
        <p>For Docker user</p>
        <pre><code class="lang-shell">$ docker run --rm tzmfree/spm install {package_name}</code></pre>
      </div>
    </div>
    <div class="description">
      <h2><strong>Usage</strong></h2>
      <div class="description-detail">
        <pre><code class="lang-shell">$ spm install -u {user} -p {password} {package_name} </code></pre>
      </div>
    </div>
    <div class="description">
      <h2><strong>What Is SPM ?</strong></h2>
      <div class="description-detail">
        <a target="_blank" href="https://github.com/tzmfreedom/spm">SPM</a> is Command Line Interface to install salesforce packages that is managed as remote repository.
        It's simpler than officially supported packaging system.
        Because SPM is command line interface tool, you can combinate other *nix commands.<br/>
        SPM can also be used as deployment tool. It can install from an salesforce organization to other.<br/><br/>
        "<a target="_blank" href="https://andyinthecloud.com/2014/09/27/the-new-github-deploy-to-salesforce-tool-button/">Deploy to Salesforce Button</a>" is similar to SPM.<br/>
        But these tool is different in interface, CUI (spm) or CUI (Deploy to Salesforce).
      </div>
    </div>
    <div class="description">
      <h2><strong>How SPM Work ?</strong></h2>
      <div class="description-detail">
        SPM work with git and <a target="_blank" href="https://developer.salesforce.com/docs/atlas.en-us.api_meta.meta/api_meta/meta_intro.htm">Salesforce metadata api</a>.<br/>
        If you call "install" subcommand, SPM clone repository from remote and install it to your salesforce organization with metadata api.<br/>
      </div>
    </div>
    <div class="text-center">
      <a href="https://github.com/tzmfreedom/spm"><i class="fa fa-github" style="color: black; font-size: 50px;" aria-hidden="true"></i></a>
      <a href="https://twitter.com/tzm_freedom"><i class="fa fa-twitter" style="color: black; font-size: 50px;" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
